<footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Help</h4>
                <ul>
                    <li>FAQs</li>
                    <li>Shipping</li>
                    <li>Returns</li>
                    <li>Size Guides</li>
                    <li>Shirt Multibuy</li>
                    <li>Find a Store</li>
                    <li>Contact Us</li>
                    <li>Where is my order?</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Legal Info</h4>
                <ul>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Cookies Policy</li>
                    <li>Accessibility</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>More Info</h4>
                <ul>
                    <li>Refer a Friend</li>
                    <li>Gift Cards</li>
                    <li>Student Discount</li>
                    <li>Affiliate Program</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Careers</h4>
                <ul>
                    <li>Job Opportunities</li>
                    <li>Internships</li>
                    <li>Life at CT</li>
                </ul>
            </div>
        </div>
    
        <div class="separator"></div>  
    
        <div class="card-info">
            <img src="/images/unlock.png" alt="">
            <p>Shopping is secure with Charles Tyrwhitt</p>
            <p>We accept:</p>
            <img src="/images/visa.png" alt="Visa">
            <img src="/images/amex.png" alt="Amex">
            <img src="/images/paypal.png" alt="PayPal">
            <img src="/images/card.png" alt="MasterCard">
            <img src="/images/apple-pay.png" alt="Apple Pay">
            <img src ="/images/google-pay.png" alt="Google Pay">
        </div>
 
    
        <div class="separator"></div>  
    
        <div class="copyright">
            <p>© 2025 Charles Tyrwhitt. All rights reserved.</p>
        </div>
    </footer>
    
