<div class="banner">
        <div class="content">
            <div class="video-container">
                <video muted autoplay loop>
                    <source src="/assets/webProject.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="overlay-text">
                    <p class="h-white">Fits for Purpose</p>
                    <p>4 shirts or polos for $259</p>
                    <p>Save up to $255</p>
                    <div class="buttons">
                        <button>Shop Shirts</button>
                        <button>Shop New Collection</button>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="products">
            <div class="row">
                <div class="image">
                    <img src="/images/landingp1.jpg" alt="Product 1">
                </div>
                <div class="image">
                    <img src="/images/landingp2.jpg" alt="Product 2">
                </div>
            </div>
            <div class="row">
                <div class="image">
                    <img src="/images/landingp3.jpg" alt="Product 3">
                </div>
                <div class="image">
                    <img src="/images/landingp4.jpg" alt="Product 4">
                </div>
            </div>
            <img src="/images/landing5.jpg" alt="Product 5">
            <img src="/images/landing6.jpg" alt="Product 6">
            <div class="row">
                <div class="image">
                    <img src="/images/landing7.jpg" alt="Product 7">
                </div>
                <div class="image">
                    <img src="/images/landing8.jpg" alt="Product 8">
                </div>
            </div>
        </div>
       
    </div>
    <div class="services">
        <a href="your-link-1.html" class="cards">
            <img src="/images/planet-earth.png" alt="">
            <h5>PLANET MARK CERTIFIED BUSINESS</h5>
            <p>We are proud to be working with planet mark<br> to reduce carbon emissions year-on-year</p>
        </a>
        <a href="your-link-2.html" class="cards">
            <img src="/images/delivery-truck.png" alt="">
            <h5>SECURE DELIVERY WITH PREMIUM SHIPPING</h5>
            <p>Premium shipping options available at checkout for full<br>tracking end to end</p>
        </a>
        <a href="your-link-3.html" class="cards">
            <img src="/images/unlock.png" alt="">
            <h5>SAFE & EASY PAYMENT</h5>
            <p>Shopping is safe with Charles Tyrwhitt. We accept<br>payments via credit card, PayPal and Apple Pay
            </p>

        </a>
        <a href="your-link-4.html" class="cards">
            <img src="/images/quality.png" alt="">
           
            <h5>OUR 6-MONTH PROMISE</h5>
            <p>We're so confident in Tyrwhitt quality, if you're not happy<br>you can get a full refund up to 6 months later</p>
        </a>
    </div>
    <div class="subscribe">
        <p>We will keep you posted on new products and great offers</p>
       <input type="text" placeholder="email address">
         <button> > </button>
    </div>